body {}

.content {
    max-width: 2000px;
    background: lightcyan;
    margin: auto;
    padding: 70px;

}

.fruit-image {
    background-image: url("../images/.jpg");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ocean-image {
    height: 400px;
    background: url("../images/ocean.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 30%;
    background-size: cover;
}

.cupcake-image {
    height: 500px;
    background: url("../images/.jpg");
    background-repeat: no-repeat;
}

.background {
    background-image: url(ocean.jpg);
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}