body {
    margin: auto;
   
}

.large-font {
    font-size: 48px;
  }
  
  .xlarge-font {
    font-size: 64px
  }
  
.content {
    max-width: 100%;
    background: white;
    margin: auto;
    padding: 10px;
}

.container {
    padding: 64px;
}

/* Clear floats */
.row:after {
    content: "";
    display: table;
    clear: both
}

.content {
    float: left;
    width: 66.66666%;
    padding: 20px;
}

/* CAROUSEL STYLING */
.my-custom-carousel .carousel-caption>h5 {
    color: grey;
    font-style: bold;
    font-size: 30px;
}

.my-custom-carousel .carousel-caption>p {
    color: gray;
}

.my-custom-carousel .carousel-indicators>li {
    width: 30px;
    height: 8px;
    border-radius: 10%;
    margin: 0 10px;
    background-color: lightslategrey;
    opacity: 0.6;
}

.my-custom-carousel .carousel-indicators>li.active {
    background-color:steelblue;
    opacity: 1;
}

.my-custom-carousel .carousel-control-prev,
.my-custom-carousel .carousel-control-next {
    opacity: 1;
}


/* MEDIA QUERIES */
@media only screen and (min-width: 375px) {
    .carousel-inner.my-custom-carousel img {
        height: 250px;
    }
}

@media only screen and (min-width: 768px) {
    .carousel-inner.my-custom-carousel img {
        height: 500px;
    }
}

.jelly {
    height: 400px;
    background: url("../image/jelly.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 30%; 
    background-size: cover;
}

.htb-image {
    height: 500px;
    background: url("../images/htb.jpg");
    background-repeat: no-repeat;
}

/* light blue=0088FF dark blue=005198*/
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}