body {}

.content {
    max-width: 2000px;
    background: lightcyan;
    margin: auto;
    padding: 70px;

}

/* CAROUSEL STYLING */
.my-custom-carousel .carousel-caption > h5 {
    color:grey;
    font-style: bold;
    font-size: 30px;
}

.my-custom-carousel .carousel-caption > p {
    color:gray;
}
.my-custom-carousel .carousel-indicators > li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: lightcyan;
    opacity: 0.6;
}

.my-custom-carousel .carousel-indicators > li.active {
    background-color:lightseagreen;
    opacity: 1;
}

.my-custom-carousel .carousel-control-prev, 
.my-custom-carousel .carousel-control-next {
    opacity: 1;
}


/* MEDIA QUERIES */
@media only screen and (min-width: 375px) {
    .carousel-inner.my-custom-carousel img {
        height: 250px;
    }
}

@media only screen and (min-width: 768px) {
    .carousel-inner.my-custom-carousel img {
        height: 500px;
    }
}

.placeholder-image {
    background-image: url("download.png");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ocean-image {
    height: 400px;
    background: url("ocean.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 30%;
    background-size: cover;
}

.empty-image {
    height: 500px;
    background: url("640x360.png");
    background-repeat: no-repeat;
}

.background {
    background-image: url(ocean.jpg);
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}